* {
  all: unset;
  font-family: "Poppins", sans-serif;
}

// theris start
$background: #141617;
$background2: #4e4e4e;
$foreground: #ddc7a1;
$green: #a9b665;
$yellow: #d8a657;
$red: #ea6962;
$blue: #7daea3;
// theris end
